.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-breathe infinite 4s linear;
  animation-direction: alternate;
  height: 80px;
}

.App-header {
  background-color: #fff;
  height: 60px;
  padding: 20px;
}

.App-content {
  padding: 20px;
}

@keyframes App-logo-breathe {
  from { transform: scale(1); }
  to { transform: scale(1.1); }
}
